 * {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  
 }

 html{
     scroll-behavior: smooth;
 }

 body{
  font-size: 20px !important;
  font-weight: 400;
  line-height: 1.5;
  color: whitesmoke;
  background: var(--grayBlue) !important;
 }

 main{
     background-color: #152228;
 }

 footer{
     background: var(--green3);
 }

 body, input, button, table {
  font-size: 1rem;
  font-family: inherit;
 }

 ul, ol{
     list-style-type: none;
     margin: 0 !important;
     padding: 0 !important ;
 }

 p, label, li>a{
     color: white;
     text-decoration: none;
     
 }

 h1, h2, h3, h4{
     color: whitesmoke;
 }

 h3,h4{
     font-size: 20px !important;
 }

 a{
     text-decoration: none !important;
 }

 :root{
     /*logo colours*/
    --blue: #0998FC;
    --red: #F82E5E;
    --redrgva: #f82e5da2;
    --gray4: #333333;
    /*grayscale*/
    --gray1: #262626;
    --gray2: #2C2C2C;
    --gray3: #181818;
    --grayBlue: #152228;
    --grayBluergva: #152228be;
    --green: #355357;
    --green2: #243a3d;
    --green3: #0f181a;
    /*grayscale*/
    --border: 4px solid var(--pink);
  }

 button {
  cursor: pointer;
 }

header{
    background: url(../img/pixel_path.png);
    background-position: center;
}

.sticky {
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 1 !important;
}

/*scroll-bar-css*/
/* width */
::-webkit-scrollbar {
    width: 9px;
    height: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
    background: var(--grayBlue);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--green2); 
  }
/*scroll-bar-css*/


.wrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    
}

.logo{
    width: 20%;
}

.logo a>img{
    max-width: 300px;
}

#main-navbar .logo>a>img{
    max-width: 240px;
}

.mobile-logo{
    display: none;
}

#main-navbar>.wrapper{
    max-width: 1500px;
    margin: 0 auto;
}

.navigation{
    margin-right: 100px;
}

.navigation>nav>ul{
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.navigation li{
    position: relative;
}

.navigation>nav>ul>li>a{
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
}

 ul>li>a:hover{
    color: var(--blue);
    
}

ul>li>ul>li:hover{
    background: var(--red);
}

.navigation ul li:hover>ul{
    opacity: 1;
    visibility: visible;
}

.dropdown{
    opacity: 0;
    visibility: hidden;
    position: absolute !important;
    top: 50px;
    left: 9px;
    z-index: 1;
    background: #000000db;
    display: flex;
    flex-flow: column nowrap;
    transition: opacity 300ms ease-in-out;
    align-items: center;
}

.dropdown li{
    width: 100%;
    padding: 0.5rem 1rem;
}

.dropdown li>a{
    font-size: 1rem;
}

.login-section{
    color: #f5f5f5;
}

.login-section img{
    width: 20px;
}

.login-section svg{
    color: white;
}

.login-section>ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.login-section ul>li{
    padding: 10px;
}

.login-section>ul>li>a:hover{
    color: var(--green);
}

.login-section>ul>li>a>i{
    margin-right: 9px;
    font-size: 20px;    
}

.login-section ul>li:last-child{
    width: 50px;
    text-align: center;
}

[role=navigation]{
    display: none;
}

/*bootstrap carousel*/
.carousel-item{
    height: 30rem;
    color: white;
    background-position: center;
    background-size:cover;
}
.carousel{
    z-index: 0 !important;
}
/*bootstrap carousel*/

#middle-section-wrapper{
    display: flex;
    flex-flow: row wrap;
}

#middle-section-wrapper>main{
    background: var(--grayBlue);
    width: 100%;
}

#middle-section-wrapper>main>.product-nav{
    justify-content: center;
    max-width: 100%;
    background: url(../img/pixel_path.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product-nav{
    padding: 1rem;
    border-bottom: var(--green) 1px solid;
}

.product-nav>.wrapper>nav>ul{
    display: flex;
    flex-flow: row wrap;
}

.product-nav>.wrapper>nav>ul>li{
    padding: 0 4rem;
}

.product-nav img{
   width: 36px;
}

.product-nav img:hover, .login-section img:hover{
    filter: invert(0.4) sepia(0.5) saturate(15.2) hue-rotate(176.4deg) brightness(0.88);
}

.product-nav>nav>ul>li>a:hover{
   
}

.new-arrivals-wrapper, .shop-section-wrapper{
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.new-arrivals-header{
    padding: 1rem 3rem;
    text-align: center;
}

.new-arrivals-header h3{
    color: whitesmoke;
}

.new-arrivals-product-banner{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 2rem;
}

.new-arrivals-product-banner .product-banner, #more-games .product-banner{
    position: relative;
}

.new-arrivals-product-banner li:hover .info-product-hvr, #more-games li:hover .info-product-hvr{
    opacity: 1;
}

.info-product-hvr{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--redrgva);
    border-radius: 10px;
    cursor: pointer;
}

.hvr-text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.hvr-text img{
    width: 300px;

}

.product-banner{
    height: 270px;
    width: 30%;
    margin-bottom: 30px;
    box-shadow: 0 13px 14px 0 rgb(0 0 0 / 37%);
    border-radius: 10px;
}

.product-banner figure{
    width: 100%;
    height: 100%;
}

.product-banner figure>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#more{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
#more>a{
    color: #f5f5f5;
    background:var(--green);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}
#more:target{visibility: hidden;}

#more-games{display: none;}

#more:target+#more-games{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 2rem;}

#middle-info-banner{
    background: url(../img/pixel_path.png);
    background-position: center;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
    align-items: center;
    border-top: var(--green) 1px solid;
    border-bottom: var(--green) 1px solid ;
}

.logo-add-banner{
    display: flex;
    justify-content: center;
}

.logo-add-banner img{
    width: 100%;
}

/*register page*/
.order-now-wrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.left-hero-img{
    background: url(../img/carousel4.jpg);
    width: 30%;
    height: 700px;
    background-size: cover;
}

.form-banner{
    width: 70%;
}

.form-banner>.wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 35px;
    background: -webkit-linear-gradient(145deg, #131f24, #16242b);
    background: -moz-linear-gradient(145deg, #131f24, #16242b);
    box-shadow:  10px 10px 31px #0e161a, -10px -10px 31px #1c2e36;
    width: 650px;
    margin: 0 auto;
    padding: 2rem;
}

.form-banner ul, .contact-banner ul{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 1rem;
}

.form-banner li, .contact-banner li{
    padding: 8px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-banner ul>li>i, .contact-banner ul>li>i{
    color: white;
    margin-right: 6px;
}

.form-banner form, .contact-banner form{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.form-banner input, .contact-banner input{
    width: 290px;
    color: whitesmoke;
    border-radius: 20px;
    padding: 5px;
    border: none;
    border-radius: 55px;
    background: #20333c;
    box-shadow: inset 13px 13px 22px #111c20, inset -13px -13px 22px #2f4a58;
    
}

.form-banner ul>li:nth-child(5), .contact-banner ul>li:nth-child(5){
    flex-flow: column;
}

.form-banner ul>li:last-child{
    width: 60%;
    justify-content: center;
    flex-flow: column-reverse;
    text-align: center;
}

::placeholder{
    color: white;
}

.submit-btn [type=submit]{
    width: 90px;
    color: white;
    padding: 10px 16px;
}

.form-banner [type=checkbox], .contact-banner [type=checkbox]{
    width: 15px;
    background: whitesmoke;
}
/*register page*/

/*contact page*/
.contact-wrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.contact-wrapper h2{
    font-family: 'Jura', sans-serif;

}

.left-hero-section{
    background: var(--green3);
    width: 50%;
    height: 700px;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: normal;
    align-items: flex-start;
    padding: 2rem;
}

.contact-banner{
    width: 50%;
}

.contact-banner .wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    border-radius: 35px;
    background: -webkit-linear-gradient(
145deg, #131f24, #16242b);
    background: -moz-linear-gradient(145deg, #131f24, #16242b);
    margin: 0 auto;
    padding: 2rem;
}

.contact-banner li{
    padding: 0;
}
.contact-banner ul>li:last-child{
    justify-content: flex-start;
    text-align: center;
}

.location-info-banner{
    margin-bottom: 25px;
}

/*contact page*/

#newsletter{
    background-color: var(--green2);
    font-family: 'Jura', sans-serif;
    text-align: center;
}

#newsletter .wrapper{
    padding: 2rem 0;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.call-to-action-banner, .newsletter-banner{
    width: 40%;
}

.call-to-action-banner{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.call-to-action-banner p{
    text-transform: uppercase;
    font-size: 2rem;
}

.newsletter-banner{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.newsletter-banner h3{
    text-transform: uppercase;
    color: whitesmoke;
}

.newsletter-banner form{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.newsletter-banner form>ul>li{
    padding: 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 1rem;
}

.newsletter-banner form>ul>li>input::placeholder{
    color: black;
}

.newsletter-banner .logo{
    width: 70%;
    text-align: center;
}

.newsletter-banner .logo>a{
    width: 300px
}


.news-section-banner{
    background: var(--grayBlue);
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.news-section-wrapper{
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    
}

.news-banner{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1rem;
}

.news-img{
    
    text-align: center;
}

.news-img img{
    width: 280px;

}

.news-tittle ul>li{
    padding: 10px;
}



.add-sidebar-section{
    width: 30%;
    background: var(--green2);
}

#map {
    height: 250px;
    width: 520px;
  }

.social-footer-section{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.social-icons{
    margin-right: 180px;
}
.social-icons ul>li{
    padding: 0 1rem;
}

.social-icons ul>li>p{
    margin-bottom: 0 !important;
}

.privacy-footer-section{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: var(--green) solid 1px;
    border-bottom: var(--green) solid 1px;
}

.privacy-footer-section ul, .social-icons ul{
    display: inline-flex;
    align-items: center;
}

.privacy-footer-section ul>li{
    padding: 1rem;
}

/*Product-page-css*/
.shop-section-wrapper{
    display: flex;
    flex-flow: column wrap;
}

.shop-category-banner{
    text-align: center;
}

.shop-category-banner .latest{
    padding: 1rem;
}

.shop-items{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.shop-items-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 78%;
}

.product-banner-wrapper{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.product-banner-wrapper>.product-banner{
    height: 300px;
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0 13px 14px 0 rgb(0 0 0 / 37%);
    border-radius: 10px;
}

.product-description-banner{
    width: 100%;
    margin-bottom: 1rem;
}

.product-description-banner p{
    color: black;
}

.product-description-banner button{
    width: 20%;
    border-radius: 5px;
}

.shop-search-bar-section{
    width: 22%;
}

.shop-search-wrapper{
    display: flex;
    justify-content: flex-end;
}

/*rating stars css*/
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align-last: left;
    
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    color: white;
    
  }

.rating > span:hover:before,
.rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
     color: goldenrod;
  }

/*rating stars css*/
/*Product-page-css*/

/*media-queries-responsive: mobile*/
@media only screen and (max-width:767px)/*(mobile)*/{
    .wrapper{
    flex-flow: column nowrap;   
    align-items: center;
    }

    #main-navbar{
        position: static;
    }

    #main-navbar .wrapper{
        display: flex;
        flex-flow: row wrap;
    }

    .logo{
        display: none;
        width: 100%;
        text-align: center;
    }

    .mobile-logo{
        display: block;
        width: 20%;
        text-align: center;
    }

    .mobile-logo a>img{
        width: 100%;
    }

    .navigation{
        margin-right: 0;
        display: none
    }

    .navigation > nav > ul {
        padding: 0;
        flex-flow: column nowrap;
        align-items: center;
    }

    /*mobile hamburguer navigation*/
    [role=navigation]{
        display: block;
        width: 80%;
    }

    #menuToggle
    {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }

    #menuToggle a
    {
      text-decoration: none;
      color: whitesmoke;
      padding: 1rem;
    
      transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
      color: tomato;
    }

    #menuToggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -5px;
        right: -4px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: var(--red);
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: var(--blue);
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }

    #menu
    {
      position: fixed;
      top: 0px;
      right: -20px;
      width: 100%;
      height: 100%;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      background: var(--grayBluergva);
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
      background: var(--grayBlue);
        width: 100%;
    }

    #menuToggle input:checked ~ ul
    {
      transform: none;
    }
     /*mobile hamburguer navigation*/

    .login-section{
        width: 100%;
    }

    .login-section ul{
        justify-content:space-around;
    }

    .carousel{
        display: none;
    }

    #middle-section-wrapper{
        flex-flow: column;
    }

    .product-nav > .wrapper > nav > ul {
        flex-flow: row;
    }

    .product-nav > .wrapper > nav > ul > li {
        padding: 0 1rem;
    }

    .new-arrivals-product-banner {
        width: 100%;
    }

    .product-banner{
        width: 80%;
    }

    #newsletter .wrapper{
        flex-direction: column;
        align-items: center;
    }

    .newsletter-banner form{
        flex-flow: column nowrap;
        align-items: center;
    }

    .call-to-action-banner, .newsletter-banner{
        text-align: center;
    }

    .news-section-banner{
        flex-flow: column;
    }

    .bottom-section .wrapper, .social-footer-section, .privacy-footer-section{
        flex-direction: column;
    }

    .privacy-footer-section ul{
        display: block;
    }

}   

/*media-queries-responsive: tablet*/
@media only screen and (min-width:768px) and (max-width:1024px){
    
    
}

